.projects {
  padding-top: 120px;
}

.projects__titles {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
}

.projects__head {
  grid-column: 1 / -1;
  grid-row: 1;
}

.projects__title {
  margin-top: 7px;
  grid-column: 2 / span 4;
  grid-row: 1;
}

.projects__slider {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
}

.projects__pic {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 10;
  display: grid;
  grid-template-rows: auto 108px;
}

.projects__img {
  grid-area: 1 / 1 / 3 / 2;
}

.projects__text {
  padding: 36px 65px 36px 32px;
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(52, 50, 53, 0.9);
}

.projects__para {
  font-size: 32px;
  line-height: 36px;
  color: #F5F2ED;
  font-family: "OldStandardTT-Regular", "Times new roman", serif;
}

.projects__link {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: #F5F2ED;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat-Bold", "Arial", sans-serif;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 94px;
    width: 33px;
    height: 8px;
    background: url("/img/arrow-short_icon.svg") no-repeat;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #9A8584;

    &::after {
      background: url("/img/arrow-short-hover_icon.svg") no-repeat;
    }
  }
}


.projects__btn {
  position: relative;
  width: 72px;
  height: 72px;
  margin-top: 294px;
  grid-row: 1;
  font-size: 0;
  background-color: #343235;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 22px;
    width: 32px;
    height: 16px;
    background: url("/img/arrow-btn_icon.svg") no-repeat;
  }

  &:hover,
  &:focus {
    background-color: #FFFFFF;
    border: 2px solid #343235;

    &::before {
      top: 27px;
      left: 20px;
      background: url("/img/arrow-btn-hover_icon.svg") no-repeat;
    }
  }
}

.projects__btn--left {
  grid-column: 1 / span 1;;

  &::before {
    transform: rotate(180deg);
  }
}

.projects__btn--right {
  grid-column: 12;
}
