* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1366px;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #695A59;
  background-color: #F8F6F5;
}

h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "OldStandardTT-Regular", "Arial", sans-serif;
}

h2 {
  font-size: 140px;
  line-height: 140px;
  color: #EAE1DC;
}

h3 {
  font-size: 42px;
  line-height: 54px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  font-family: "Montserrat-Medium", "Arial", sans-serif;
}

.page {
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.wrap {
  width: 1166px;
  margin: 0 auto;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "OldStandardTT-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/OldStandardTT-Regular.woff2") format("woff2"), url("../fonts/OldStandardTT-Regular.woff") format("woff");
}
